/*@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --primary-color: #1F2937;
}

body {
    background-image: url("/images/number.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: 'Kalam', cursive;
    background-color: #374151;
}

nav{
    display:block;
}

.navigation{
    width:800px;
    background-color:var(--primary-color);
    color: white;
    padding:1.5rem;
    text-align: center;
    margin: auto;
    font-size:x-large;
}

.container{
    margin:auto;
    padding: 1rem;
    max-width:600px;
    margin-top:2rem;
    margin-bottom:2rem;
    padding-top:2rem;
    padding-bottom:2rem;
}

#inputArea {
    display:block;
    background-color: var(--primary-color);
    color: white;
    text-align: center;    
    min-height:15vh;
    width: 100%;
    margin-top:1.5rem;
    margin-bottom:1rem;
    font-size:x-large;
}

#outputArea {
    background-color: var(--primary-color);
    color:white;
    text-align: center;    
    display:block;
    min-height:15vh;
    width: 100%;
    overflow:scroll;
    margin-bottom:2rem;
    margin-top:0.25rem;
    font-size:large;
}

#btnConvert {
    background-color: var(--primary-color);
    color: white;    
    display: block;
    font-family: 'Kalam', cursive;
    font-size: large;
    font-weight:bold;
    text-align:center;
    margin-top:1rem;
    margin-bottom:0.5rem;
    cursor: pointer;
}

#outputText{
    color: white;
    font-size:large;
    font-weight:bold;
    margin-top:1rem;
    margin-bottom:1rem;
    color: white;
}

#errorMessage{
    display:block;
    color: white;
    font-weight: bold;
}

footer{
    display: block;
    bottom:0;
}

.foot {
    width: 800px;
    background-color: var(--primary-color);
    color: white;
    padding: 1.25rem;
    margin: auto;
    font-size:x-large;
    text-align: center;
}*/

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --primary-color: #1F2937;
}

body {
    background-image: url("/images/number.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kalam', cursive;
    margin:0px;
}

nav {
    margin-top: 0px;
}

.navigation {
    background-color: var(--primary-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    max-width: 700px;
    text-align: center;
    font-size: x-large;
}

.container {
    text-align: center;
    padding: 0.25rem;
    margin-bottom: 0rem;
}

.displayerror {
    padding: 0.5rem;
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

#txtarea {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 40%;
    min-height: 15vh;
    overflow: scroll;
    font-size: xx-large;
    font-family: 'Kalam', cursive;
    color:white;
}

.outputword {
    margin-top: 1rem;
    margin: auto;
    text-align: center;
    color: white;
    padding: 0.2rem;
}

#outputtext {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    width: 40%;
    min-height: 15vh;
    overflow: scroll;
    font-size: xx-large;
    font-family: 'Kalam', cursive;
    color:white;
}

#btntranslate {
    width: 250px;
    height: 50px;
    box-shadow: 1px;
    background-color: var(--primary-color);
    font-family: 'Kalam', cursive;
    cursor: pointer;
    font-size: x-large;
    color:white;
}

.footer-style {
    background-color: var(--primary-color);
    display: block;
    padding: 0.75rem;
    text-align: center;
    max-width: 700px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    bottom: 0;
    color:white;
}

footer {
    margin-bottom: 0px;
}