@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --primary-color: #1F2937;
}

body {
    background-image: url("/images/number.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: 'Kalam', cursive;
}

nav{
    display:block;
}

.navigation{
    width:900px;
    background-color:var(--primary-color);
    color: white;
    padding:1.5rem;
    text-align: center;
    margin: auto;
    font-size:x-large;
}

.container{
    margin:auto;
    padding: 1rem;
    max-width:600px;
    margin-top:2rem;
    margin-bottom:2rem;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}

#inputArea {
    display:block;
    background-color: var(--primary-color);
    color: white;
    text-align: center;    
    min-height:15vh;
    width: 100%;
    margin-top:2rem;
    margin-bottom:1rem;
}

#outputArea {
    background-color: var(--primary-color);
    color:white;
    text-align: center;    
    display:block;
    min-height:15vh;
    width: 100%;
    overflow:scroll;
    margin-bottom:2rem;
    margin-top:0.25rem;
}

#btnConvert {
    background-color: var(--primary-color);
    color: white;    
    display: block;
    font-family: 'Kalam', cursive;
    font-size: large;
    font-weight:bold;
    text-align:center;
    margin-top:1rem;
    margin-bottom:0.5rem;
}

#outputText{
    color: white;
    font-size:large;
    font-weight:bold;
    margin-top:1rem;
    margin-bottom:1rem;
    color: white;
}

#errorMessage{
    color: white;
    font-weight: bold;
}

footer{
    display: block;
    bottom:0;    
}

.foot {
    width: 900px;
    background-color: var(--primary-color);
    color: white;
    padding: 1.5rem;
    margin: auto;
    font-size:x-large;
    text-align: center;
}